<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LecturerTimetableController</servlet-name>
        <servlet-class>controller.lecturer.TimetableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerAttController</servlet-name>
        <servlet-class>controller.lecturer.AttController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttController</servlet-name>
        <servlet-class>controller.lecturer.CheckAttController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authen.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimetableStuController</servlet-name>
        <servlet-class>controller.student.TimetableStuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controller.lecturer.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeStuController</servlet-name>
        <servlet-class>controller.student.homeStuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.authen.logoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LecturerTimetableController</servlet-name>
        <url-pattern>/lecturer/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerAttController</servlet-name>
        <url-pattern>/lecturer/takeatt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttController</servlet-name>
        <url-pattern>/lecturer/checkatt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimetableStuController</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/lecturer/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeStuController</servlet-name>
        <url-pattern>/student/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
