* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
  }

.thin-letter {
    font-weight: 400;
}

.bold-letter {
    font-weight: 700;
}

.padding-text {
    font-size: 10px;
    font-weight: 700;
    color: white;
    padding: .2em .6em .3em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25em;
}

.padding-text.green {
    background-color: #5cb85c;
}

.padding-text.yellow {
    background-color: #f0ad4e;
}

.padding-text.red {
    background-color: #d9534f;
}

.padding-text.blue {
    background-color: #337ab7;
}

.table>:not(:first-child) {
    border-top: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 100px;
}

header .link-store {
    float: left;
}

header .link-store p {
    margin: 0;
}

header .link-store .images img {
    height: 50px;
    padding: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 8px 15px;
    background-color: #f5f5f5;
}

nav a {
    text-decoration: none;
}

nav .nav-left {
    font-size: 14px;
}

nav .nav-right {
    font-size: 10.5px;
}

nav .nav-right a,
nav .nav-right .campus {
    background-color: #5cb85c;
    color: white;
    padding: .2em .6em .3em;
    border-radius: 0.25em;
}

.content .lecturer-box {
    text-align: center;
    margin-bottom: 20px;
}

.content .note h2 {
    padding-left: 10px;
}

.content .note p {
    font-size: 14px;
    margin-bottom: 10px;
}

.content .table table {
    width: 100%;
}

.content .table th {
    background-color: #6b90da;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-weight: 400;
    padding: 3px;
    height: 23px;
}

.content .table .description {
    width: 100%;
}

.content .save-button{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.content .save-button input{
    border-radius: 10px;
    border: 0;
    width: 25%;
    font-weight: 600;
    font-size: 20px;
    background-color: #6b90da;
    color: white;
}

.content .save-button input:hover{
    background-color: #6a85bb;
}

.content .table td {
    border-bottom: 1px solid rgb(197, 197, 197);
}

/* For schedule table */

.content .table .second-table td {
    border: 0;
}

.content .table .second-table .date {
    border: 0;
    width: 100%;
    margin-left: 5px;
}

.content .table .second-table .view-button {
    height: 55px;
    width: 80%;
    padding: 0 5px;
    margin-left: 10px;
    text-align: center;
}

.content .table .slot {
    font-size: 14px;
    margin: 0 0 10px;
}

.content .table .slot .course {
    color: #337ab7;
    text-decoration: none;
}

.content .table .slot .course:hover {
    text-decoration: underline;
}

.content .table .slot .materials:hover {
    background-color: #d28923;
    color: white;
}

.content .table .img-avatar {
    height: 180px;
    text-align: center;
}

.content .table .img-avatar img {
    height: 100%;
}

/* For attendance view */

.content .double-table {
    display: flex;
}

.content .row {
    margin-top: 30px;
}

.content .row h2 {
    text-align: center;
}

.content .double-table .table-left {
    padding-right: 0;
}

.content .double-table .table-right {
    padding-left: 0;
}

.content .double-table .table-right td {
    padding: 8px;
    border: 1px solid rgb(197, 197, 197);
}


footer {
    margin-top: 40px;
    margin-bottom: 10px;
}

footer p {
    margin: 0;
}

footer .line-1 {
    border-bottom: 1px solid rgb(198, 198, 198);
}

footer .line-2 {
    text-align: center;
}